body {
    background-color: navy;
    color: bisque;
    font-size: medium;

}
.debug{
    border: 1px solid black;
    border-radius: 1rem;

}
p{
    color: aqua;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    

}